.slider_container {
  overflow: hidden;
  padding: 2rem;
}

.slider {
  display: grid;
  grid-column-gap: 2rem;
  grid-template-columns: repeat(5, 1fr);
  margin: 1.5rem 2rem;
  position: relative;
}

.heading {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 2rem;
}

.heading > h2 {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #121212;
}

.slider > button > img {
  height: 1.5rem;
}

.next {
  right: -1rem;
}

.prev {
  left: -1rem;
}

.slider > button {
  opacity: 0;
  border: 1px solid #999;
  border-radius: 50%;
  position: absolute;
  display: grid;
  place-items: center;
  transition: opacity 0.4s ease-in-out, visibility 0.4s ease-in-out;
  top: 50%;
  transform: translateY(-50%);
  background-color: white;
  cursor: pointer;
}

.slider:hover > button {
  opacity: 1;
}

.slider > button:disabled {
  background-color: #ddd;
  border-color: #ddd;
}