.slider_container {
  overflow: hidden;
  padding: 2rem;
}

.slider {
  display: flex;
  transition: transform 0.3s ease;
  margin: 1.5rem 2rem;
  gap: 2rem;
  position: relative;
}

.next,
.prev {
  border: 1px solid #999;
  border-radius: 50%;
  position: absolute;
  display: grid;
  place-items: center;
  top: 50%;
  transform: translateY(-50%);
  background-color: white;
  cursor: pointer;
}

.slider > button > img {
  height: 1.5rem;
}

.next {
  right: -1rem;
}

.prev {
  left: -1rem;
}
